<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995145015331-kni5uf54o0avjbubj097ps5t4e0v9m2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995145015331-kni5uf54o0avjbubj097ps5t4e0v9m2m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>995145015331-tluigvlehodp98uokpb37chm6pm0nb5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPMOYRnNUYcQeLDEX6FttxIF6DW2Z6roM</string>
	<key>GCM_SENDER_ID</key>
	<string>995145015331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spd.khoj</string>
	<key>PROJECT_ID</key>
	<string>khoj-5415b</string>
	<key>STORAGE_BUCKET</key>
	<string>khoj-5415b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995145015331:ios:173e29afebe57df596d196</string>
</dict>
</plist>